<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{:config('site_title')}</title>
<meta name="description" content="{:config('site_description')}" />
<meta name="keywords" content="{:config('site_keyword')}" />

<link rel="stylesheet" type="text/css" href="__CSS__/layout.css" />


</head>
<body>
<div class="PPD_header_nav" style="margin-bottom: 0">
<div class="PPD_login_status"></div>
</div>
<div class="mainNav">
<div class="mainNav_inner clearfix w1000center">
<h1 class="logo">
<a href="__ROOT__">
<img src="__IMG__/logo.png" alt="" />
</a>
</h1>

</div>
</div>
<div id="content_nav" class="row show-grid center980">
<div class="ppd_policy" id="law">
<h1>服务协议</h1>
<p>注册须知：</p>
<div class="head">
本协议是用户（下称“用户”或“您”或“本人”）与拍拍贷平台包括但不限于拍拍贷网站（www.ppdai.com）、拍拍贷APP所有者及其关联公司APP（以下简称“拍拍贷平台”或“拍拍贷”或“本网站”）之间就相关服务等事宜所订立的契约，本协议具有合同效力，适用于您在拍拍贷平台的全部活动。
</div>
<div class="head">
您注册成为本网站用户前请务必仔细阅读以下条款。一旦注册，您接受拍拍贷的服务时必须受以下条款的约束。在您注册时，您承诺已经阅读、理解并接受本协议的全部条款及各类规则，并承诺遵守中国现行的法律、法规、规章及其他政府规定，如有违反而导致任何法律后果的发生，您将以自己的名义独立承担所有相应的法律责任。若您不接受或无法准确理解本协议的任何条款，请不要进行注册。
</div>
<div class="head">
本协议内容包括以下条款及本网站已经发布的或将来可能发布的各类规则。前述所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。
</div>
<div class="head">
拍拍贷有权根据需要不定时地制定、修改本协议或各类规则，对于本网站用户适用的协议或各类规则应以用户在本网站注册时适用的协议或规则内容为准。本网站将随时刊载并公告本协议及规则变更情况。经修订的协议、规则一经公布，立即自动生效，对新协议、规则生效之后注册的用户发生法律效力。对于协议、规则生效之前注册的用户，若用户在新规则生效后继续使用本网站提供的各项服务，则表明用户已充分阅读并认可和同意遵守新的协议或规则。若用户拒绝接受新的协议和规则，用户有权放弃或终止继续使用本网站提供的各项服务，但该用户应承担在本网站已经进行的交易下所应承担的任何法律责任，且应遵循该用户发生交易时有效的协议或规则内容。
</div>
<div class="head">
您确认本协议后，本协议即在您和拍拍贷之间产生法律效力。本协议不涉及您与拍拍贷的其他用户之间因网上交易而产生的法律关系及法律纠纷，但您在此同意将全面接受和履行与拍拍贷其他用户在拍拍贷签订的任何电子合同，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。
</div>
<p>第一章 使用限制</p>
<div class="listnum lv2">
第一条
拍拍贷只接受中华人民共和国具有完全民事行为能力的自然人、法人及其他组织成为网站用户。如您不符合资格，请勿注册。拍拍贷保留中止或终止用户身份的权利。
</div>
<div class="listnum lv2">
第二条
您承诺合法使用拍拍贷提供的服务及网站内容。禁止在拍拍贷从事任何可能违反中国现行的法律、法规、规章和政府规范性文件的行为或者任何未经授权使用本网站的行为，如擅自进入拍拍贷的未公开系统、不正当地使用账号密码和本网站任何内容等。
</div>
<div class="listnum lv2">
第三条
用户注册是指欲申请成为本网站用户的人员登录本网站，并按要求填写相关信息并确认同意履行本协议及其他相关用户协议的过程。您注册成功后，不得将拍拍贷的用户名转让给第三方或者授权给第三方使用。拍拍贷通过用户的注册用户名及密码来识别用户的指令。用户确认，使用用户名和密码登陆本网站后在拍拍贷的一切行为均代表用户本人。用户注册操作所产生的电子信息记录均为用户行为的有效凭证，并由用户本人承担相应的法律后果。
</div>
<div class="listnum lv2">
第四条
您在注册时须选择不违反法律法规及社会公德的用户名并提供自己的真实资料，并遵守如下要求：
</div>
<div>
1.您必须按照有关部门监管的要求在本网站进行实名注册，并向拍拍贷提供实名注册所需要的身份认证信息和资料。
</div>
<div>
2.您必须提供真实、最新、有效及完整的资料，并且授予拍拍贷基于提供服务的目的，对您提供的资料及数据信息拥有永久的、免费的使用权利。
</div>
<div>
3.您有义务维持并更新注册的用户资料，确保其为真实、最新、有效及完整的资料。<strong>如因您未及时更新资料导致拍拍贷无法提供服务或提供服务时发生任何错误，您不得将此作为取消交易或拒绝付款的理由，拍拍贷亦不承担任何责任，所有后果应由您承担。</strong>
</div>
<div>
4.若您提供任何错误、虚假、过时或不完整的资料，或者拍拍贷依其独立判断怀疑资料为错误、虚假、过时或不完整的，拍拍贷有权暂停或终止您在本网站的注册账号，并拒绝您使用本网站服务的部分或全部功能。在此情况下，拍拍贷不承担任何责任，<strong>您同意承担由此所产生的直接或间接的任何支出或损失。</strong>
</div>
<div class="listnum lv2">第五条 注销</div>
<div>
用户决定不再使用注册用户名时，应首先清偿所有应付款项（包括但不限于借款本金、利息、逾期利息、催收费用、服务费等），并向拍拍贷申请注销该注册用户名。注册用户名被注销后，用户与拍拍贷关于本协议的合同关系终止，拍拍贷没有义务为用户保留或向用户披露注册账户中的任何信息。
</div>
<div>
用户连续12个月未使用用户的拍拍贷登录名或拍拍贷认可的其他方式登录过本网站，拍拍贷有权注销用户名下的全部或部分拍拍贷登录名及拍拍贷账户，用户将不能再通过该登录名登录本网站或使用相关拍拍贷账户；如该相关拍拍贷账户内有余额，用户可按照拍拍贷相关流程将其转到用户本人同名银行帐户。
</div>
<p>第二章 用户的义务</p>
<div class="listnum lv2">
第六条
若您的借款列表提前满标，则该借款列表提前结束并自动关闭。您（作为“借款人”）不得自行修改或撤回借款列表。拍拍贷有权以自己的独立判断，来限制您发布的借款列表、中止或终止您已发布的借款列表。
</div>
<div class="listnum lv2">第七条 信息发布真实有效</div>
<div>
用户承诺，其通过本网站发布的信息均真实有效，其向拍拍贷提交的任何资料均真实、有效、完整、准确。如因违背上述承诺，造成拍拍贷或本网站其他用户损失的，用户将承担相应责任。
如果拍拍贷发现您（作为“借款人”）为在校学生或您提供的信息存在虚假或欺诈，拍拍贷有权在任何时候且无需通知您的情况下取消您发布的借款列表，并中止或终止您的资格。已经成功的借款不受影响，您（作为“借款人”）须根据《借款协议》的约定按时足额还款。
</div>
<div class="listnum lv2">第八条 禁止对网站数据进行商业性利用</div>
<div>
用户承诺，不对本网站上的任何数据做商业性利用，包括但不限于在未经拍拍贷事先同意的情况下，以复制、传播等任何方式使用本网站上展示的资料。
</div>
<div class="listnum lv2">第九条 遵守法律法规</div>
<div>
用户在接受拍拍贷服务时必须遵守中国法律法规、规章以及政府规范性文件，不得作出违法违规的行为，具体如下：
</div>
<div>
1.发表、传达、传播、储存侵害他人知识产权、人身权、商业秘密等合法权益的内容；
</div>
<div>
2.伪造虚假身份、发布虚假信息等误导、欺骗他人，或违背拍拍贷页面公布之活动规则进行虚假交易；
</div>
<div>
3.进行危害计算机网络安全的行为。包括但不限于在用户发布的信息中含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或其他电脑程序；
</div>
<div>
4.不发布国家禁止发布的信息，不发布其他涉嫌违法或违反本协议及各类规则的信息。
</div>
<p>第三章 服务内容与费用</p>
<div class="listnum lv2">第十条 服务内容及服务管理</div>
<div>
1.本网站的服务内容包括但不限于：发布借款需求、查阅交易机会、资信评估服务、签订和查阅合同、资金充值、提现等，具体详情以本网站当时提供的服务内容及拍拍贷平台与您签订的具体协议为准。
</div>
<div>
2.用户确认，用户在拍拍贷平台上按拍拍贷服务流程所确认的交易状态，将成为拍拍贷为用户进行相关交易或操作（包括但不限于支付或收取款项、冻结资金、订立合同等）的不可撤销的指令。用户同意相关指令的执行时间以拍拍贷在拍拍贷系统中进行实际操作的时间为准。用户同意拍拍贷有权依据本协议及/或拍拍贷相关纠纷处理规则等约定对相关事项进行处理。
</div>
<div>
3.用户理解并同意，拍拍贷向符合条件的用户提供服务。拍拍贷对在拍拍贷平台上进行的借款等交易行为不承担任何责任，拍拍贷无法也没有义务保证用户在发出借款要约后，能够实际获得借款，用户因前述原因导致的损失（包括但不限于利息、手续费等损失）由用户自行承担，拍拍贷不承担责任。
</div>
<div>
4.用户通过拍拍贷平台进行各项交易或接受交易款项时，若用户未遵从本协议条款或拍拍贷公布的交易规则中的操作指示，拍拍贷不承担任何责任。若发生上述状况而款项已先行拨入用户账户下，用户同意拍拍贷有权直接从相关用户账户中扣回款项及禁止用户要求支付此笔款项之权利。此款项若已汇入用户的银行账户，用户同意拍拍贷有向用户事后索回的权利，由此产生的追索费用由用户承担。
</div>
<div>
5.如果拍拍贷发现了因系统故障或其他任何原因导致的处理错误，无论有利于拍拍贷还是有利于用户，拍拍贷都有权纠正该错误。如果该错误导致用户实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，用户应根据拍拍贷向用户发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作，且拍拍贷有权自行采取措施纠正以上错误交易。用户理解并同意，用户因前述处理错误而多付或少付的款项均不计利息，拍拍贷不承担因前述处理错误而导致的任何损失或责任（包括用户可能因前述错误导致的利息、汇率等损失）。
</div>
<div>
6.拍拍贷可以依其对判断暂时停止提供、限制或改变拍拍贷服务，只要用户仍然使用拍拍贷服务，即表示用户仍然同意本协议。
</div>
<div>
7.因申请数字证书需要，用户同意并授权拍拍贷向第三方数字证书服务机构提供用户相关信息；用户承诺该实名信息真实、完整、有效，并自行承担相应的法律后果。用户同意在本网站的相关协议使用数字证书，无需本人另行同意。
</div>
<div class="listnum lv2">第十一条 服务费用</div>
<div>1.当用户使用拍拍贷服务时，拍拍贷会向用户收取相关服务费用。</div>
<div>
2.拍拍贷保留单方面制定及调整服务费用的权利。费用标准一旦被修改，即公布在网站上，修改后的费用标准一经公布即行生效，适用于费用标准修改后发生的交易。
</div>
<div>
3.用户在使用拍拍贷服务过程中（如充值或取现等）可能需要向第三方（如银行或第三方支付公司等）支付一定的费用，具体收费标准详见第三方网站相关页面，或拍拍贷平台的提示。
</div>
<p>第四章 涉及第三方网站</p>
<div class="listnum lv2">
第十二条
拍拍贷的网站内容可能涉及由第三方所有、控制或者运营的其他网站（以下称“第三方网站”），含有访问第三方网站的链接；同时拍拍贷将会在任何需要的时候增加商业伙伴或公用品牌的网站。
</div>
<div class="listnum lv2">
第十三条 拍拍贷对所有第三方网站的隐私保护措施不负任何责任。
</div>
<div class="listnum lv2">
第十四条
拍拍贷不能保证也没有义务保证第三方网站上的信息的真实性和有效性。用户确认按照第三方网站的相关协议与规则使用第三方网站，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由用户自行判断并承担风险，而与拍拍贷无关。
</div>
<p>第五章 银行卡绑定</p>
<div class="listnum lv2">
第十五条
银行卡绑定是指用户将其所持有的银行储蓄卡与所注册的拍拍贷账户建立的一一对应关系，以便用户使用该银行卡通过拍拍贷合作的银行或金融机构直接支付或收取款项、通过拍拍贷账户余额充值或提取款项等服务。用户在进行银行卡绑定时，应当填写该等银行卡的发卡行、卡号、用户的真实姓名、用户在发卡行预留的手机号码、手机动态验证密码及其身份证号码等绑定信息，且前述绑定信息须通过发卡行及/或拍拍贷合作的银行或金融机构验证成功（但并不因此负责用户信息真实性、准确性）后才能进行绑定。
</div>
<div class="listnum lv2">
第十六条
用户应当确保其为进行绑定及使用本服务的银行卡的真实、合法持有人，可合法、有效使用该银行卡，并授权拍拍贷合作的银行或金融机构可以自行或通过第三方渠道对用户所提供个人信息的真实性、有效性进行核实。用户承诺，其绑定银行卡以及使用本服务的行为未侵犯任何第三方的合法权益，否则用户对因此造成拍拍贷及其合作的银行或金融机构或银行卡真实持卡人遭受任何损失的，用户应承担全部的赔偿责任并承担全部法律后果，拍拍贷不因此承担任何赔偿责任。且拍拍贷有权对用户的拍拍贷账户中的余额进行冻结、终止或中止为用户提供拍拍贷相关服务。
</div>
<div class="listnum lv2">
<strong>第十七条
用户同意并授权合作银行或金融机构在用户主动使用快捷充值或还款时，使用已绑定的用户本人银行卡余额进行支付。</strong><br />
用户授权将客户四要素信息共享给拍拍贷及其关联方的的合作机构（包括但不限于信托、银行等持牌金融机构）。
</div>
<div class="listnum lv2">
<strong>第十八条
用户应妥善保管银行卡、卡号、发卡行预留的手机号码以及拍拍贷账号、密码、来自于银行或金融机构或拍拍贷向用户发送的校验码等与银行卡或与用户拍拍贷账户有关的一切信息和设备；如用户遗失或泄露前述信息和/或设备的，用户应及时通知发卡行及/或拍拍贷，以减少可能发生的损失。无论是否已通知发卡行及/或拍拍贷，因用户的信息或设备管理不善原因所致须由用户自行承担。
</strong>
</div>
<p>第六章 免责声明</p>
<div class="listnum lv2">
第十九条
拍拍贷不对任何用户及/或任何交易提供任何明示或默示的担保。交易平台向用户提供的各种信息及资料仅为参考，用户应依其独立判断做出决策。用户据此进行交易的，产生的风险由用户自行承担，用户无权据此向拍拍贷提出任何法律主张。在交易过程中，交易各方发生的纠纷，由纠纷各方自行解决。拍拍贷及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员等均不能完全保证网站内容的真实性、充分性、及时性、可靠性、完整性和有效性，并且免除任何由此引起的法律责任。
</div>
<div class="listnum lv2">
<strong> 第二十条 互联网自身不稳定性免责 </strong>
<br />
由于互联网本身所具有的不稳定性，拍拍贷无法保证服务不会中断。系统因有关状况无法正常运作，使用户无法使用任何本网站服务或使用本网站服务受到任何影响时，拍拍贷对用户或第三方不负任何责任，前述状况包括但不限于：
</div>
<div>1.本网站系统停机维护期间。</div>
<div>2.电信设备出现故障不能进行数据传输的。</div>
<div>
3.由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因造成的本网站服务中断或延迟。
</div>
<div class="listnum lv2">第二十一条 不可抗力免责</div>
<div>
对于因拍拍贷合理控制范围以外的原因，包括但不限于自然灾害（台风、地震、海啸、洪水）、罢工或骚乱、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使拍拍贷延迟或未能履约的，拍拍贷不对用户承担任何责任。
</div>
<div class="listnum lv2">
<strong> 第二十二条 用户自身过错免责 </strong>
</div>
<div>
<strong>
因用户的过错导致的任何损失，该过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入、用户委托他人代理交易时他人恶意或不当操作而造成的损失。
</strong>
</div>
<div class="listnum lv2">
第二十三条
以上并不能揭示用户通过拍拍贷进行交易的全部风险及市场全部情形。用户在做出交易决策前应全面了解相关交易、谨慎决策，并自行承担全部风险。
</div>
<p>第七章 网站内容监测</p>
<div class="listnum lv2">
第二十四条
拍拍贷没有义务监测网站内容，但是用户确认并同意拍拍贷有权不时地根据法律、法规、政府要求透露、修改或者删除必要的、合适的信息，以便更好地运营拍拍贷并保护自身及拍拍贷的合法用户。
</div>
<p>第八章 隐私规则</p>
<div class="listnum lv2">第二十五条 信息的来源</div>
<div>
1.拍拍贷收集用户的任何信息旨在保障用户顺利、有效、安全的进行交易等行为。
</div>
<div>
2.除用户自愿向拍拍贷提供的信息外，用户同意拍拍贷及其合作方以包括但不限于以下方式收集并核对用户的信息：
</div>
<div>（1）拍拍贷及其合作方自行收集的用户的信息。</div>
<div>（2）经第三方认证的用户的信息。</div>
<div>
（3）拍拍贷根据用户在本网站上的行为自动追踪关于用户的相关信息。
</div>
<div>
（4）用户提交或授权的个人通讯相关信息（例如：通讯录、手机短信、电邮或信件），或如果其他用户或第三方向拍拍贷发出关于用户在拍拍贷上的活动或登录事项的通讯信息，拍拍贷可以将这些信息资料收集在用户的专门档案中。
</div>
<div>（5）用户其他和使用拍拍贷服务相关的信息。</div>
<div class="listnum lv2">第二十六条 信息的使用</div>
<div>
1.用户同意当发生包括但不限于以下情形时（拍拍贷给用户提供服务、解决争议、对纠纷进行调停、有助于确保在拍拍贷进行安全交易，并执行拍拍贷的服务协议），拍拍贷及其合作方可使用用户提供的上述信息。拍拍贷有时候可能调查多个用户以识别问题或解决争议，特别是拍拍贷可审查用户的信息资料以区分使用多个用户名或别名的用户。
</div>
<div>
2.为禁止用户在拍拍贷上的欺诈、非法或其他刑事犯罪活动，使拍拍贷或其他用户免受其害，用户同意拍拍贷及其合作方可通过人工或自动程序对用户的个人信息资料进行评价。
</div>
<div>
3.用户同意拍拍贷可以使用用户的个人信息以改进拍拍贷的推广和促销工作、分析网站的使用率、改善拍拍贷的内容和产品推广形式，并使拍拍贷的网站内容、设计和服务更能符合用户的要求。这些使用能改善拍拍贷的网页，以调整拍拍贷的网页使其更能符合用户的需求，从而使用户在使用拍拍贷服务时得到更为顺利、有效、安全及度身订造的交易体验。
</div>
<div>
4.用户同意拍拍贷利用用户的信息与用户联络并通过短信、邮件、电话等方式向用户传递（在某些情况下）针对用户的兴趣而提供的信息，例如：账户变更提醒、活动促销提醒、有针对性的广告条、行政管理方面的通知、产品提供以及有关用户使用拍拍贷的通讯。
</div>
<div>
5.用户知悉并同意，拍拍贷可以使用用户提交或授权而获取的信息、出借人提供的、从第三方获取的信息进行逾期账务提醒或催收等服务，如因此给用户造成不利影响，拍拍贷对此不承担责任。
</div>
<div>
6.拍拍贷可以在法律允许的范围内，因与本协议相关的其他用途，合理使用用户的信息。
</div>
<div class="listnum lv2">第二十七条 拍拍贷对用户的信息的披露</div>
<div>
1.拍拍贷有义务根据有关法律要求向司法机关和政府部门提供用户的个人信息。
</div>
<div>
2.在用户未能按照与拍拍贷签订的服务协议或者与第三方签订的借款协议等其他法律文本的约定履行自己应尽的义务时，拍拍贷有权根据自己的判断或者与该笔交易有关的其他用户的请求披露用户的个人信息，并做出评论。
</div>
<div>
3.对用户提供的及拍拍贷自行收集的用户的个人信息和资料录入网站黑名单，及国家和地方的公民征信系统，且拍拍贷有权将用户提交的信息资料或拍拍贷在公开领域了解的用户的信息与任何第三方进行数据共享，以便网站和第三方催收逾期借款及对用户的其他申请进行审核之用，由此因第三方的行为造成用户损失，拍拍贷不承担法律责任。
</div>
<div>
4.当用户作为借款人借款逾期未还时，拍拍贷可以采取发布用户的个人信息的方式追索债权，拍拍贷对上述行为免责。
</div>
<div class="listnum lv2">
第二十八条
虽然拍拍贷采用行业标准惯例以保护用户的个人信息和资料，鉴于技术限制，拍拍贷不能确保用户的全部私人通讯及其他个人信息、资料不会通过本隐私规则中未列明的途径泄露出去。
</div>
<div class="listnum lv2">
第二十九条
本人授权拍拍贷及其合作伙伴（包括但不限于第三方征信机构，下同），除法律另有规定之外，将本人提供给拍拍贷的信息、享受拍拍贷服务产生的信息（包括本协议签订之前提供和产生的信息）以及拍拍贷根据本条约定查询、收集的信息，用于拍拍贷及其合作伙伴提供服务、推荐产品、开展市场调查与进行风险控制、贷后追踪等并对相关信息以上述目的进行数据分析。
本人授权拍拍贷，除法律另有规定之外，基于为本人提供更优质服务和产品的目的，向拍拍贷及其合作伙伴提供、查询、验证、收集本人的信息（包括但不限于身份信息、银行卡消费及交易状况等）。本条款具有独立法律效力，不受本协议效力状态变化的影响。本条所称“拍拍贷”是指上海拍拍贷金融信息服务有限公司及其关联公司和分支机构。
</div>
<div class="listnum lv2">第三十条 用户对其他用户的信息的使用</div>
<div>
在拍拍贷提供的交易活动中，用户无权要求拍拍贷提供其他用户的个人信息除非符合以下条件：
</div>
<div>（1）用户已向法院起诉其他用户的在拍拍贷活动中的违约行为；</div>
<div>（2）接受款项的借款人逾期未归还借款本息；</div>
<div>（3）拍拍贷被吊销营业执照、解散、清算、宣告破产或者其他情形。</div>
<div class="listnum lv2">第三十一条 电子邮件和群组</div>
<div>
用户不得使用拍拍贷提供的站内信服务、群组服务或其他电子邮件转发服务发出垃圾邮件、信息或其他可能违反拍拍贷的服务协议的内容。
</div>
<div class="listnum lv2">第三十二条 账号和密码的安全性</div>
<div>
1.用户应保管好本人的用户名和密码，不得向任何人泄露用户名和密码，亦不可使用其他任何人的用户名和密码。用户须对使用用户的用户名和密码所采取的一切行为负责。因黑客、病毒或用户的保管疏忽等拍拍贷原因导致账号遭他人非法使用的，拍拍贷不承担任何责任。
</div>
<div>
2.冒用他人账号的，拍拍贷及其合法授权主体保留追究实际使用人责任的权利。
</div>
<div>
3.拍拍贷将尽力保护用户的账号安全，但用户理解并承认在互联网情况下不存在绝对安全的保障措施。
</div>
<p>第九章 知识产权</p>
<div class="listnum lv2">第三十三条 知识产权之内容</div>
<div>
无论是否明示，拍拍贷对本网站内所有非公有领域或非他方专有的信息内容享有知识产权（包括但不限于商标权、专利权、著作权、商业秘密等），信息内容包括但不限于文字、图片、软件、音频、视频、数据、源代码、平台架构、专有技术、平台画面的安排、网页设计等。
</div>
<div class="listnum lv2">第三十四条 禁止侵犯</div>
<div>
尊重知识产权是用户应尽的义务，如有违反，用户应对拍拍贷承担损害赔偿等法律责任。
</div>
<p>第十章 违约责任</p>
<div class="listnum lv2">
第三十五条
当用户的行为涉嫌违反法律法规或违反本协议和/或规则的，拍拍贷有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息，或直接停止提供服务。如使拍拍贷遭受任何损失的（包括但不限于收到第三方的索赔、受到行政管理部门的处罚等）用户还应当赔偿或补偿拍拍贷遭受的损失及（或）发生的费用，包括诉讼费、律师费、保全费等。
</div>
<div class="listnum lv2">
第三十六条
由于违反本协议，或违反其在本网站签订的协议或文件，或由于用户使用本网站服务违反了任何法律或侵害第三方权利而导致任何第三方向拍拍贷提出任何补偿申请或要求（包括律师费用），用户应对拍拍贷给予全额补偿并使之不受损害。
</div>
<div class="listnum lv2">
第三十七条
如因拍拍贷违反有关法律法规或本协议项下任何条款而给用户造成损害，拍拍贷同意承担由此造成的损害赔偿责任。
</div>
<p>第十一章 通知与送达</p>
<div class="listnum lv2">第三十八条 通知方式</div>
<div>
本协议条款及其任何其他协议、告示或其他关于用户使用本服务账户及服务的通知，用户同意本网站使用电子方式或通过向用户在注册时预留的通讯地址邮寄文件资料的方式通知用户。电子方式包括但不限于以电子邮件方式、短信息、站内信或于本网站或者合作网站上公布、或通过官方微信、APP、官方微博等方式公布。
</div>
<div class="listnum lv2">第三十九条 送达</div>
<div>
网站的通知如以公示方式作出，一经在本网站公示即视为已经送达。除此之外，其他向用户个人发布的具有专属性的通知将由本网站向用户在注册时提供的电子邮箱，或本网站在用户的个人账户中的站内信，或用户在注册后在本网站绑定的手机发送，一经发送即视为已经送达。请用户密切关注用户的电子邮箱、站内信及手机中的短信信息。<strong>因信息传输等原因导致用户未在前述通知发出当日收到该等通知的，本网站不承担责任。</strong>
</div>
<p>第十二章 终止</p>
<div class="listnum lv2">
第四十条
除非拍拍贷终止本协议或者用户申请终止本协议且经拍拍贷同意，否则本协议始终有效。拍拍贷有权在不通知用户的情况下在任何时间终止本协议或者限制用户使用拍拍贷。
</div>
<p>第十三章 适用法律和管辖</p>
<div class="listnum lv2">
第四十一条
因拍拍贷提供服务所产生的争议均适用中华人民共和国法律，并由拍拍贷住所地有管辖权的人民法院管辖。
</div>
<p>第十四章 其他</p>
<div class="listnum lv2">第四十二条 协议生效</div>
<div>
本协议自用户同意勾选或网上签署并成功注册成为本网站用户之日起生效，除非拍拍贷终止本协议或者用户丧失本网站用户资格，否则本协议始终有效。本协议终止并不免除用户根据本协议或其他有关协议、规则所应承担的义务和责任。
</div>
<div class="listnum lv2">第四十三条 附加条款</div>
<div>
在拍拍贷的某些部分或页面中可能存在除本协议以外的单独的附加服务条款，当这些条款存在冲突时，在这些部分和页面中附加条款优先适用。
</div>
<div class="listnum lv2">第四十四条 条款的独立性</div>
<div>
若本协议的部分条款被认定为无效或者无法实施时，本协议中的其他条款仍然有效。
</div>
<div class="listnum lv2">第四十五条 投诉与建议</div>
<div>
用户对拍拍贷有任何投诉和建议，请将投诉和建议发送到kefu@ppdai.com，进行反馈。拍拍贷将及时与用户联系。
</div>
<div class="listnum lv2">第四十六条 反作弊规则</div>
<div>
如发现用户使用作弊的手段（包括但不限于恶意注册账号、账号间资金转移等）获取奖励时，拍拍贷有权在核实后不发放奖励；情节严重的，拍拍贷有权将用户加入黑名单。拍拍贷不向黑名单用户提供投标服务，同时黑名单用户不能参与拍拍贷平台的所有活动。
</div>
<br /><br /><br />
<h1>个人征信授权书</h1>
<div class="head">
<strong>
重要提示：
<br />
为了保障您的合法权益，您应当阅读并遵守本授权书。请您务必审慎阅读、充分理解本授权书条款内容，特别是免除或者减轻被授权人责任，或限制您权利的条款，相关条款将以加粗形式提示您充分注意。
</strong>
</div>
<div class="head">
<strong>本授权书依据《征信业管理条例》等法律法规的相关规定拟定，百行征信有限公司是依据《征信业管理条例》成立和运营的持牌个人征信机构。除非您已阅读并接受本授权书所有条款，否则您无权使用被授权人服务平台借款服务。
</strong>
</div>
<div class="head decoration">
本人向<u>上海耳序信息技术有限公司、上海紫河信息技术有限公司、百行征信有限公司</u>作以下不可撤销的授权：
</div>
<div class="head">
<strong>一、本人同意<u>上海耳序信息技术有限公司</u>、上海紫河信息技术有限公司（本文简称“被授权人”）在办理以下涉及到本人或与本人有关的业务时，可按照法律法规的规定通过百行征信有限公司查询、使用本人信息：</strong>
</div>
<div class="head lsitnum lv2">☑ 审核本人授信及贷款申请的；</div>
<div class="head lsitnum lv2">☑审核本人作为担保人或共同还款人的；</div>
<div class="head lsitnum lv2">
☑
受理法人、其他组织或自然人的授信、贷款申请及贷后风险管理时，需要查询本人作为法人、其他组织或自然人的法定代表人、出资人或关联方的信用状况的；
</div>
<div class="head lsitnum lv2">
☑
受理本人担任法定代表人、负责人或出资人的法人、商户或其他组织的特约商户开户申请，需要查询本人信用状况的；
</div>
<div class="head lsitnum lv2">
☑
处理贷后管理事务（包括贷款额度授予后对额度的管理），进行贷后风险管理；
</div>
<div class="head lsitnum lv2">☑ 处理本人征信异议的。</div>
<div class="head lsitnum lv2">
<strong>本授权书所指的本人信息包括本人基本信息、本人信贷信息以及与本人信用相关的其他信息。</strong>
</div>
<div class="head"><strong>二、信息查询期限</strong></div>
<div class="head">
本授权书下被授权人向百行征信有限公司查询本人信息的期限<strong>自本人确认本授权承诺之日起至本人在被授权人处所有相关业务终结之日止。</strong>
</div>
<div class="head">
<strong>如下情形视为本人与被授权人的业务未终结：本人在被授权人处有信贷余额或有授信额度；本人提供担保的授信业务有信贷余额或有授信额度。</strong>
</div>
<div class="head">
<strong>三、本人同意被授权人向百行征信有限公司报送本人信息（含历史信息、不良信息、负债信息及偿债履约能力判断信息等）。</strong>
</div>
<div class="head">
<strong>四、本人同意百行征信有限公司可向被授权人和有关部门、单位（包括但不限于公安、司法、教育、全国公民身份证号码查询服务中心、通信运营商、银联、社保、公积金、税务、民政、物流、电子商务平台、互联网平台、行业协会等合法留存本人信息的第三方机构等）采集、查询或验证本人信息，并可将采集或查询到的本人信息在本授权书第一条所列的情形下向被授权人提供。</strong>
</div>
<div class="head">五、授权人声明</div>
<div class="head">
<strong>本人已知悉并理解本授权书所有内容（特别是加粗字体内容）以及由此产生的法律效力，自愿作出上述授权。本授权书是本人真实的意思表示，本人同意承担由此带来的一切法律后果。</strong>
</div>
<br /><br /><br />
<h1>个人征信查询授权委托书</h1>
<div class="head"><strong>重要提示：</strong></div>
<div class="head">
<strong>为了维护您的权益，请在签署本授权书前，仔细阅读本授权书各条款（特别是黑体字条款），关注您在授权书中的权利、义务。</strong>
</div>
<div class="head">
<strong>致上海拍拍贷金融信息服务有限公司、上海耳序信息技术有限公司及其关联方（下称“拍拍贷平台运营主体”），以及其合作机构（包括但不限于云南国际信托有限公司、武汉众邦银行股份有限公司、深圳市中裔信息工程融资担保有限公司、渤海国际信托股份有限公司、淮北汇邦小额贷款股份有限公司、河南中原消费金融股份有限公司）：</strong>
</div>
<div class="head">
本人申请借款，并与贷款人、拍拍贷平台运营主体签署《借款协议》及相关协议（具体名称以实际生成版本为准，以下简称“《借款协议》”）。本人根据《借款协议》的约定承担按期还本付息等义务。为使拍拍贷平台运营主体作为服务方能够对本人信用作出合理评估和风险监控，本人不可撤销地授权拍拍贷平台运营主体即上海拍拍贷金融信息服务有限公司、上海耳序信息技术有限公司及其关联方，以及其合作机构（包括但不限于云南国际信托有限公司、武汉众邦银行股份有限公司、深圳市中裔信息工程融资担保有限公司、渤海国际信托股份有限公司、淮北汇邦小额贷款股份有限公司、河南中原消费金融股份有限公司）：
</div>
<div class="head">
<strong>一、为信用评估、数据处理、风险控制、逾期账款催收等与《借款协议》履行相关的目的从有关机构或单位（包括但不限于中国人民银行金融信用信息基础数据库、合法的征信机构、公安机关、公积金、社保、税务、民政以及其他第三方信息服务机构等）采集、查询、使用本人个人信包括征信信息在内的信用信息并获取有关个人信用报告，以及向上述机关或单位报送本人个人信用信息及信用报告。</strong>
</div>
<div class="head">二、将合法获得的本人信用信息用于下述范围：</div>
<div class="head">
（一） 审批、受理、办理本人或本人配偶（如有）的贷款相关业务；
</div>
<div class="head">
（二）
在该业务存续期间监控本本人或本人配偶（如有）的的信用变化，进行贷后服务和管理；
</div>
<div class="head">（三） 开展市场调查与信息数据分析；</div>
<div class="head">（四） 其他经过本人同意的合法用途；</div>
<div class="head">
三、本委托授权的期限自本授权书出具日起，至本人在《借款协议》项下的全部义务履行完毕时止。
</div>
<div class="head">
四、若《借款协议》未生效或终止，本授权书、信用报告的等资料无须退回。
</div>
<div class="head"><strong>授权人声明：</strong></div>
<div class="head">
<strong>本人已知悉并理解上述条款（特别是黑体字条款）。本授权书由本人点击附有本授权书电子版页面上“确认”或“同意”的按钮后生效，为本人真实意思的表达。</strong>
</div>
<br /><br />
<p>最后更新日期：2021年2月</p>
</div>
</div>
<div class="clear"></div>
<div class="footer">
<div class="footer_footerBottom">
<ul class="footer_footerBottomNav clearfix" style="overflow: hidden;">
<li>
<span class="webindex"></span>
<a href="__ROOT__">网站首页</a>|
</li>
<li>
<span class="aboutus"></span>
<a href="{:url('index/about')}">关于我们</a>|
</li>

<li>
<span class="webservice"></span>
<a href="javascript:void(0)">帮助中心</a>|
</li>
<li class="nomr">
<span class="onlneserve"></span>
<a href="javascript:void(0)" >在线咨询</a>
</li>
</ul>
<p>
Copyright Reserved
2007-2017©{:config('site_title')}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{:config('web_site_icp')}&nbsp;&nbsp;&nbsp;&nbsp;
</p>
</div>
</div>
</body>
</html>
