<include  file="public/head" />
				<div  class="main-container clear-float">
					<!---->
					<!---->
					<div   class="wrapper-title">
						常见问题
						
					</div>
					<div   class="borrowerqa">
						<div   class="qa1 question">
							<p  >借款可借多少钱？</p>
							<ul  >
								<li  >首次借款金额为500-30000元间。</li>
								<li  >按时还款累计信用后，您的额度会有较大幅度提升。个人最高可达20万元。</li>
							</ul>
						</div>
						<div   class="qa2 question">
							<p  >借款需要什么材料？</p>
							<ul  >
								<li  >需要您提供个人基本信息 、身份证等图片资料。</li>
								<li  >具体所需材料在后续界面有详细说明，您可在对应界面进行在线上传提交。</li>
							</ul>
						</div>
						<div   class="qa3 question">
							<p  >借款审核需要多长时间？</p>
							<ul  >
								<li  >提交申请后，借款最快可当天到账。</li>
								<li  >上传更多的资料有助于提高您的借款额度、缩短放款时间。</li>
							</ul>
						</div>
					</div>
					<div   class="wrapper-title">
						轻松借款
					</div>
					<div   class="superior"><span   class="option-title pos1">平台大</span><span   class="option-title pos2">额度大</span><span   class="option-title pos3">费用少</span><span   class="option-title pos4">到账快</span><span   class="option-info pos5">银行合作，1亿人的选择</span><span   class="option-info pos6">个人最高可借20万</span><span   class="option-info pos7">综合年化利率9%起，以审批为准</span><span   class="option-info pos8">到账时间5分钟起，以实际为准</span></div>
					<a   href="javascript:void(0);" class="gotobroorowbtn">立刻申请借款</a>
					<div   class="txttips">
						<p   class="txt">本平台承诺不额外向用户收取费用；不向学生提供借款服务</p>
						<p   class="txt">市场有风险，选择需谨慎；请根据个人能力合理贷款，理性消费</p>
						<p   class="txt">
							综合年化利率：除本金以外所有还款/期初借款本金；到账时间：提交借款申请到资金到账时间
						</p>
						<p   class="txt">
							金融服务将根据您的个人情况由合适的正规金融机构提供
						</p>
					</div>
				</div>
<include file="public/foot"/>				