<include file="public/head"/>	
		<div class="container repay">
			<div class="loan-banner"></div>
			<div class="mainbg clearfix">
				<h2 class="h2">三大优势 急速审批</h2>
				<ul class="layout">
					<li> <img src="__IMG__/big-icon-1.png" width="93" alt="借款额度高">
						<h4>借款额度高</h4>
						<p>20~60周岁，有经济偿还能力</p>
					</li>
					<li> <img src="__IMG__/big-icon-2.png" width="93" alt="贷款放款快">
						<h4>贷款放款快</h4>
						<p>申请资料齐全，最快一天放款</p>
					</li>
					<li> <img src="__IMG__/big-icon-3.png" width="93" alt="周期方式灵活">
						<h4>周期方式灵活</h4>
						<p>借款期限自由，多种还款方式</p>
					</li>
				</ul>
			</div>
			<div class="tabBg h253">
				<div class="layout">
					<h2 class="h2">借款产品类型</h2>
					<h3 class="h3 mb45">多种借款产品类型 精准解决建工行业融资难题</h3>
					<div class="licai">
						<ul class="change-tabs">
							<li class="tab active"> <span>NO.1</span> <span>企业经营贷</span> </li>
							<li class="tab"> <span>NO.2</span> <span>建材供应贷</span> </li>
							<li class="tab"> <span>NO.3</span> <span>小微企业贷</span> </li>
							<li class="tab"> <span>NO.4</span> <span>项目承包贷</span> </li>
							<li class="tab"> <span>NO.5</span> <span>精英担保贷</span> </li>
						</ul>
					</div>
				</div>
			</div>
			<div class="goods-list">
		
				<div class="goods item1 active">
					<div class="layout">
						<div class="desc desc-h2">
							<h2 class="h2">NO.1企业经营贷</h2>
							<p>企业经营贷是小猪理财针对具备建筑企业资质等级和安全生产许可，有一定政府在建工程、应收账款，现金流稳定、充沛，且具备持续的经营能力和较强还款能力的建筑企业设计的一款短期金融产品。借款企业必须经过小猪理财风控团队的实地尽职调查，同时通过相关科技及数据系统查询后，确认具备较强履约能力的建筑企业。由借款企业股东等自然人作为担保方，对借款进行无限连带责任担保。借款企业在本平台上的借款总额不超过100万元。
							</p>
						</div>
						
					</div>
				</div>
			
				<div class="goods item2">
					<div class="layout">
						<div class="desc desc-h2">
							<h2 class="h2">NO.2建材供应贷</h2>
							<p>建材供应贷是小猪理财基于核心企业和上游企业的业务往来关系的基础之上，设计出的一款围绕核心企业，服务于上游企业的短期金融产品。借款企业是核心企业的上游材料/劳务供应企业，与核心企业签署了供销采购/劳务合同，在核心企业具有一定的应收账款，借款资金仅用于借款企业的短期经营周转。由核心企业作为担保方，对借款进行无限连带责任担保。借款企业在本平台上的借款总额不超过100万元。</p>
							
						</div>
						
					</div>
				</div>
			
				<div class="goods item3">
					<div class="layout clearfix">
						<div class="desc desc-h2">
							<h2 class="h2">NO.3小微企业贷</h2>
							<p>小微企业贷是小猪理财针对具备合法经营资格，持续盈利的中小微企业经营性资金需求设计的一款短期金融产品。借款企业必须经过小猪理财风控团队的风险审核，借款企业是产品有市场、经营有效益、业务稳定、信用记录良好、持续发展能力较强的成长型中小微企业，具备还款能力，还款意愿良好。借款资金仅限用于借款企业自身的经营性资金周转，单家借款企业在本平台上的借款总额不超过100万元。</p>
							
						</div>
						
					</div>
				</div>
			
				<div class="goods item4">
					<div class="layout">
						<div class="desc desc-h2">
							<h2 class="h2">NO.4项目承包贷</h2>
							<p>项目承包贷是小猪理财针对与核心企业签署了承包协议的项目承包方设计的一款短期金融产品。借款方有稳定的收入来源，并承接有在建工程项目，具备一定的还款能力，同时由经营正常，资质齐全，资金流健康，应收账款较多，具有一定担保能力的核心企业对借款方进行担保，资金用于该借款方承包的工程项目建设。</p>
							
						</div>
						
					</div>
			</div>
				<div class="goods item5">
					<div class="layout">
						<div class="desc desc-h2">
							<h2 class="h2">NO.5精英担保贷</h2>
							<p>精英担保贷是小猪理财基于核心企业的在建工程、施工资质、经营状况、企业实力及企业信用的基础上，为核心企业的精英人士（建造师、九大员、股东亲属、公司员工）所设计的一款不高于20万元的短期小额金融产品。资金用于核心企业内部经营、投标经营、项目投标保证金缴纳、项目履约保证金缴纳等。借款人为核心企业的精英人士（建造师、九大员、股东亲属、公司员工），由核心企业作为担保方，对借款进行无限连带责任担保。由核心企业对项目进行担保，每个标的的材料合同及监管均需小猪理财严格审核。</p>
							
						</div>
						
					</div>
				</div>
			</div>
			<div class="clear-both"></div>
			<!--申请流程图-->
			<div class="tabBg h550">
				<div class="layout setup-image">
					<h2 class="h2 mt55">四步审批 急速放款</h2>
					<h3 class="h3 mb45">更便捷的借款流程，四步搞定</h3>
					<ul class="list-setup clearfix">
						<li> <img src="__IMG__/small-icon-1.png" width="110" alt="填写借款资料">
							<p>01填写借款资料</p>
						</li>
						<li class="dash"><i class="icon-dash"></i></li>
						<li> <img src="__IMG__/small-icon-2.png" width="110" alt="信用调查审核">
							<p>02信用调查审核</p>
						</li>
						<li class="dash"><i class="icon-dash"></i></li>
						<li> <img src="__IMG__/small-icon-3.png" width="110" alt="借款标审核并线">
							<p>03借款标审核上线</p>
						</li>
						<li class="dash"><i class="icon-dash"></i></li>
						<li> <img src="__IMG__/small-icon-4.png" width="110" alt="借款成功">
							<p>04筹款成功资金入账</p>
						</li>
					</ul>
					
			</div>
			
		</div>
		
		</div>
		
<include file="public/foot"/>