<include file="public/wap_head" />

<div class="banner img" style="margin: 0;">
	<div>
		<img src="__IMG__/ban3.jpg"/>
	</div>
</div>

<div class="gqrd_wrap_bo">
	<div class="tabs__hea">
		<div class="native">省科技口</div>
		<div>市科技口</div>
		<div>商务口</div>
		<div>发改口</div>
		<div>工信口</div>
	</div>
	<!--<div class="gqrd_wrap_box1">
		<img src="__IMG__/331.png" alt="省科技口"/>
		<p class="gqrd_wrap_box_p1">省科技口</p>
	</div>
	<div class="gqrd_wrap_box1">
		<img src="__IMG__/332.png" alt="市科技口"/>
		<p class="gqrd_wrap_box_p1">市科技口</p>
	</div>
	<div class="gqrd_wrap_box2">
		<img src="__IMG__/332.png" alt="商务口"/>
		<p class="gqrd_wrap_box_p1">商务口</p>
	</div>
	<div class="gqrd_wrap_box2">
		<img src="__IMG__/332.png" alt="发改口"/>
		<p class="gqrd_wrap_box_p1">发改口</p>
	</div>
	<div class="gqrd_wrap_box2">
		<img src="__IMG__/332.png" alt="工信口"/>
		<p class="gqrd_wrap_box_p1">工信口</p>
	</div>-->
</div>



<div class="gqrd_wrap">
	<div class="gqrd_wrap_title">服务介绍</div>
</div>	

<div>
	<div class="wrap_cap">
		<p class="wrap_cap_p">
			<span>服务内容</span>
		</p>
		<div class="wrap_cap_content">
			根据各地科技口、工信口、发改口不同类别项目申报要求，针对性提供对应申报服务，包括：<br>
			独角兽及瞪羚企业<br>
			工程技术研发中心<br>
			重点实验室<br>
			省级重点研发计划项目<br>
			江西省重点新产品
			<div class="wrap_cap_img1">
				<img src="__IMG__/wrap_bg5.jpg"/>
			</div>
			
		</div>
		<p class="wrap_cap_p">
			<span>相关好处</span>
		</p>
		<div class="wrap_cap_content">
			按不同项目给予一定资金支持。
		</div>
		
		<p class="wrap_cap_p">
			<span>服务流程</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/601.png" />
			<!--1.咨询洽谈<br>
			2.认定前评估<br>
			3.确定合作关系<br>
			4.服务提供<br>
			5.进程跟踪-->
		</div>	
		
		<p class="wrap_cap_p">
			<span>服务优势</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/602.jpg" />
			<!--1.专业权威<br>
			2.资历深厚<br>
			3.服务保障<br>
			4.资源优势<br>
			5.平台资质-->
		</div>	
	</div>
	
	<div class="wrap_cap hide">
		<p class="wrap_cap_p">
			<span>服务内容</span>
		</p>
		<div class="wrap_cap_content">
			根据各地科技口、工信口、发改口不同类别项目申报要求，针对性提供对应申报服务，包括：<br>
			市级重点实验室<br>
			市级工程技术研究中心<br>
			市级科技企业孵化器<br>
			市级优势科技创新团队<br>
			市级“洪城众创”<br>
			新型研发机构
			<div class="wrap_cap_img1">
				<img src="__IMG__/wrap_bg5.jpg"/>
			</div>
			
		</div>
		<p class="wrap_cap_p">
			<span>相关好处</span>
		</p>
		<div class="wrap_cap_content">
			按不同项目给予一定资金支持。
		</div>
		
		<p class="wrap_cap_p">
			<span>服务流程</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/601.png" />
			<!--1.咨询洽谈<br>
			2.认定前评估<br>
			3.确定合作关系<br>
			4.服务提供<br>
			5.进程跟踪-->
		</div>	
		
		<p class="wrap_cap_p">
			<span>服务优势</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/602.jpg" />
			<!--1.专业权威<br>
			2.资历深厚<br>
			3.服务保障<br>
			4.资源优势<br>
			5.平台资质-->
		</div>	
	</div>
	
	<div class="wrap_cap hide">
		<p class="wrap_cap_p">
			<span>服务内容</span>
		</p>
		<div class="wrap_cap_content">
			根据各地科技口、工信口、发改口不同类别项目申报要求，针对性提供对应申报服务，包括：<br>
			政策解读与申报资格评估<br>
			申报项目的确立指导<br>
			研发费用投入归集指导<br>
			项目申报材料的编制<br>
			项目申报材料提交与跟踪
			<div class="wrap_cap_img1">
				<img src="__IMG__/wrap_bg5.jpg"/>
			</div>
			
		</div>
		<p class="wrap_cap_p">
			<span>相关好处</span>
		</p>
		<div class="wrap_cap_content">
			按不同项目给予一定资金支持。
		</div>
		
		<p class="wrap_cap_p">
			<span>服务流程</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/601.png" />
			<!--1.咨询洽谈<br>
			2.认定前评估<br>
			3.确定合作关系<br>
			4.服务提供<br>
			5.进程跟踪-->
		</div>	
		
		<p class="wrap_cap_p">
			<span>服务优势</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/602.jpg" />
			<!--1.专业权威<br>
			2.资历深厚<br>
			3.服务保障<br>
			4.资源优势<br>
			5.平台资质-->
		</div>	
	</div>
	
	<div class="wrap_cap hide">
		<p class="wrap_cap_p">
			<span>服务内容</span>
		</p>
		<div class="wrap_cap_content">
			根据各地科技口、工信口、发改口不同类别项目申报要求，针对性提供对应申报服务，包括：<br>
			江西省工程研究中心<br>
			江西省重大财经课题<br>
			产业转型升级示范区和重点园区建设专项<br>
			省级现代服务业集聚区和服务业龙头企业
			<div class="wrap_cap_img1">
				<img src="__IMG__/wrap_bg5.jpg"/>
			</div>
			
		</div>
		<p class="wrap_cap_p">
			<span>相关好处</span>
		</p>
		<div class="wrap_cap_content">
			按不同项目给予一定资金支持。
		</div>
		
		<p class="wrap_cap_p">
			<span>服务流程</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/601.png" />
			<!--1.咨询洽谈<br>
			2.认定前评估<br>
			3.确定合作关系<br>
			4.服务提供<br>
			5.进程跟踪-->
		</div>	
		
		<p class="wrap_cap_p">
			<span>服务优势</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/602.jpg" />
			<!--1.专业权威<br>
			2.资历深厚<br>
			3.服务保障<br>
			4.资源优势<br>
			5.平台资质-->
		</div>	
	</div>
	
	<div class="wrap_cap hide">
		<p class="wrap_cap_p">
			<span>服务内容</span>
		</p>
		<div class="wrap_cap_content">
			根据各地科技口、工信口、发改口不同类别项目申报要求，针对性提供对应申报服务，包括：<br>
			绿色制造<br>
			智能制造<br>
			一企一技<br>
			专业化小巨人<br>
			专精特新
			<div class="wrap_cap_img1">
				<img src="__IMG__/wrap_bg5.jpg"/>
			</div>
			
		</div>
		<p class="wrap_cap_p">
			<span>相关好处</span>
		</p>
		<div class="wrap_cap_content">
			按不同项目给予一定资金支持。
		</div>
		
		<p class="wrap_cap_p">
			<span>服务流程</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/601.png" />
			<!--1.咨询洽谈<br>
			2.认定前评估<br>
			3.确定合作关系<br>
			4.服务提供<br>
			5.进程跟踪-->
		</div>	
		
		<p class="wrap_cap_p">
			<span>服务优势</span>
		</p>
		<div class="wrap_cap_content">
			<img  src="__IMG__/602.jpg" />
			<!--1.专业权威<br>
			2.资历深厚<br>
			3.服务保障<br>
			4.资源优势<br>
			5.平台资质-->
		</div>	
	</div>
</div>


<include file="public/wap_foot2" />