<include file="public/wap_head"/>

<div class="banner img">
	<div>
		<img src="__IMG__/ban1.jpg"/>
	</div>
</div>


<div class="slideBox3">
	<p class="wrap_sli_p">成功案例</p>
	<p class="wrap_sli_input">
		专利名称<input type="text" name="wrap_name" class="wrap_name"  placeholder="请输入专利名称"/>
		手机号码<input type="text" name="wrap_tel" class="wrap_tel"  placeholder="请输入手机号码"/>
		<input type="button" class="wrap_sli_but" value="提交"/>
	</p>
	<div style="overflow: hidden;">
		<div class="notice-ico notice-image0">
			<ul class='noticeScrollbar noticeScrollbar1'>
				<li class='scrollbarLi' >
					贺南昌大学丁老师在大牛喜获国家发明专利证书				
				</li>
				<li class='scrollbarLi' >
					贺南昌凯*光电在大牛喜获国家发明专利证书				
				</li>
				<li class='scrollbarLi' >
					贺南昌正*科技股份有限公司在大牛喜获国家专利证书	
				</li>
				<li class='scrollbarLi' >
					贺西北民族大学周老师在大牛喜获国家专利证书			
				</li>
				<li class='scrollbarLi' >
					贺李先生在大牛喜获国家专利证书			
				</li>
				<li class='scrollbarLi' >
					贺西北民族大学杨老师在大牛喜获国家专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺广西科技大学费老师在大牛喜获国家专利证书			
				</li>
				<li class='scrollbarLi' >
					贺陈女士在大牛喜获国家专利证书				
				</li>
				<li class='scrollbarLi' >
					贺江西*斯新能源科技有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺柳州市城中区动物疫病预防控制中心在大牛喜获国家发明专利证书		
				</li>
				<li class='scrollbarLi' >
					贺江西国*中药饮片有限公司在大牛喜获国家发明专利证书			
				</li>
				<li class='scrollbarLi' >
					贺江西省*丰环保科技设备有限公司在大牛喜获国家发明专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西*横生物科技有限公司在大牛喜获国家发明专利证书		
				</li>
				<li class='scrollbarLi' >
					贺南昌**境服装有限公司在大牛喜获国家发明专利证书			
				</li>
				<li class='scrollbarLi' >
					贺李女士在大牛喜获国家发明专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西农业大学徐老师在大牛喜获国家发明专利证书	
				</li>
				<li class='scrollbarLi' >
					贺西北民族大学罗老师在大牛喜获国家发明专利证书			
				</li>
				<li class='scrollbarLi' >
					贺江西啄木*科技有限公司在大牛喜获国家专利证书
				</li>
				
				
				<li class='scrollbarLi' >
					贺胡先生在大牛喜获国家专利证书	
				</li>
				<li class='scrollbarLi' >
					贺江西*叶实业有限公司在大牛喜获国家专利证书		
				</li>
				<li class='scrollbarLi' >
					贺广西科技大学胡老师在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西**合生态农业开发有限公司在大牛喜获国家专利证书	
				</li>
				<li class='scrollbarLi' >
					贺江西*盈环保科技有限公司在大牛喜获国家专利证书			
				</li>
				<li class='scrollbarLi' >
					贺朱女士在大牛喜获国家专利证书
				</li>
				
				
				<li class='scrollbarLi' >
					贺万先生在大牛喜获国家专利证书	
				</li>
				<li class='scrollbarLi' >
					贺江西帝*食品有限公司在大牛喜获国家专利证书		
				</li>
				<li class='scrollbarLi' >
					贺江西*力医疗器械有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西*曼增材科技有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺东莞理工大学王老师在大牛喜获国家专利证书		
				</li>
				<li class='scrollbarLi' >
					贺赣南师范大学高老师在大牛喜获国家专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西*本生物科技有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江老师在大牛喜获国家专利证书		
				</li>
				<li class='scrollbarLi' >
					贺江西科技师范大学邓老师在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺何女士在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西*和印务有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西*佳铜业有限公司在大牛喜获国家专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西**磁电科技有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺宜春上高**利化工有限公司在大牛喜获国家专利证书	
				</li>
				<li class='scrollbarLi' >
					贺江西农业大学饶老师在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西科技师范大学胡老师在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西省**丽新建材有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西**德科技有限公司在大牛喜获国家专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺付女士在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西允*照明有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺华中农业大学魏老师在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西乐*生物药业有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺潘先生在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺江西中医药大学胡老师在大牛喜获国家专利证书
				</li>
				
				<li class='scrollbarLi' >
					贺**复合建材（上海）有限公司在大牛喜获国家专利证书
				</li>
				<li class='scrollbarLi' >
					贺弋阳县润*科技有限公司在大牛喜获国家专利证书
				</li>
			</ul>
		</div>

		<!--<div class="notice-ico notice-image0">
			<ul class='noticeScrollbar noticeScrollbar2'>
				<li class='scrollbarLi' >
					赵**  159****2395  查询成功
				</li>
				<li class='scrollbarLi' >
					刘**  199****4397  查询成功
				</li>
				<li class='scrollbarLi' >
					饶**  191****3628  查询成功
				</li>
				<li class='scrollbarLi' >
					胡**  138****0593  查询成功
				</li>
				<li class='scrollbarLi' >
					葛*  185****6696  查询成功
				</li>
				<li class='scrollbarLi' >
					桂**  136****6961  查询成功
				</li>
				<li class='scrollbarLi' >
					张*   131****4346  查询成功
				</li>
				<li class='scrollbarLi' >
					许**  181****6419  查询成功
				</li>
				<li class='scrollbarLi' >
					祝**  185****7139  查询成功
				</li>
				<li class='scrollbarLi' >
					黄**  157****2017  查询成功
				</li>
			</ul>
		</div>-->

	</div>
	
</div>	
<!--<div class="slideBox2">
    <div class="bd over">
		<div class="fl box box1 alC">
			<a href="{:url('index/index_wap/col_wap')}">
				<div class="img">
					<img src="__IMG__/fm2.png" alt="发明专利">
				</div>
				<div class="t">发明专利</div>
			</a>
		</div>
												
		<div class="fl box box1 alC">
			<a href="{:url('index/index_wap/col_wap')}">
				<div class="img">
					<img src="__IMG__/sy.png" alt="实用新型">
				</div>
				<div class="t">实用新型</div>
			</a>
		</div>
		
		<div class="fl box box1 alC">
			<a href="{:url('index/index_wap/col_wap')}">
				<div class="img">
					<img src="__IMG__/wg.png" alt="外观专利">
				</div>
				<div class="t on ">外观专利</div>
			</a>
		</div>
	</div>
</div>	-->

<div class="slideBox4">
	<p class="wrap_sli_p">专利申请类型</p>
	<div class="apply-list">
        <div class="apply_t">
            <a class="apply_img" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >
                <img src="__IMG__/guonei1.png"  alt="发明专利">
            </a>
            <a class="t_title" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >发明专利</a>
            <p>发明人对自己的发明可以依法向专利机关申请专利</p>
            <div class="t_a">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" title="立即申请" >立即申请</a>
            </div>
        </div>
        <div class="apply_t">
            <a class="apply_img" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >
                <img src="__IMG__/guonei2.png"  alt="实用新型专利">
            </a>
            <a class="t_title" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">实用新型专利</a>
            <p>实用新型专利的保护期限为10年。</p>
            <div class="t_a">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" title="立即申请" >立即申请</a>
            </div>
        </div>
        <div class="apply_t">
            <a class="apply_img" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >
                <img src="__IMG__/guonei3.png" alt="外观设计专利">
            </a>
            <a class="t_title" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >外观设计专利</a>
            <p>凡是产品结构、形状或者结构和形状相结合，可申请。</p>
            <div class="t_a">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" title="立即申请" >立即申请</a>
            </div>
        </div>
        <div class="apply_t">
            <a class="apply_img" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >
                <img src="__IMG__/guonei4.png" alt="PCT专利申请">
            </a>
            <a class="t_title" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" >PCT专利申请</a>
            <p>向国外提出专利申请，享受多国专利优先权，快速响应国际申请需求</p>
            <div class="t_a">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" title="立即申请" >立即申请</a>
            </div>
        </div>
       </div>
</div>


<div class="slideBox5">
	<p class="wrap_sli_p">帮您解惑</p>
	<div class="why-list" style="">
        <div class="why-title1">
            <p>问：学生/个人如何申请专利？</p>
        </div>
    </div>
    <div class="why-list" style="background: url(__IMG__/ques02.png) no-repeat center;background-size: 100% 3rem;">
        <div class="why-title1">
            <p>问：专利申请需要准备哪些材料？</p>
        </div>
    </div>
    <div class="why-list" style="background: url(__IMG__/ques03.png) no-repeat center;background-size: 100% 3rem;">
        <div class="why-title1">
            <p>问：有想法可以先申请专利吗？</p>
        </div>
    </div>
    <div class="why-list" style="background: url(__IMG__/ques04.png) no-repeat center;background-size: 100% 3rem;">
        <div class="why-title1">
            <p>问：申请专利需要多长时间？</p>
        </div>
    </div>
    <div class="why-list" style="background: url(__IMG__/ques05.png) no-repeat center;background-size: 100% 3rem;">
        <div class="why-title1">
            <p>问：专利急需能够办理加急吗？</p>
        </div>
    </div>
    <div class="why-list" style="background: url(__IMG__/ques06.png) no-repeat center;background-size: 100% 3rem;">
        <div class="why-title1">
            <p>问：专利申请对公司有什么帮助？</p>
        </div>
    </div>
    <div class="downloadbtn-container">
        <a class="downloadbtn" href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
        	<span>定制私人专利证书</span>
        </a>
    </div>
</div>

<div class="slideBox5">
	<p class="wrap_sli_p" style="margin-bottom: 3rem;">专利申请流程</p>
	<div class="wrap_lc_box">
		<span class="proImg">1</span>
        <div class="proTitle">
            <h3>查询专利是否申请</h3>
            <span>先查询后申请降低申请风险</span>
        </div>
	</div>
    <div class="wrap_lc_box right">
		<span class="proImg">2</span>
        <div class="proTitle">
            <h3>资深专家撰写申请</h3>
            <span>专家撰写申请资料，自助申请</span>
        </div>
	</div>
	<div class="wrap_lc_box">
		<span class="proImg">3</span>
        <div class="proTitle">
            <h3>提交官方审查</h3>
            <span>深刻了解专利，排查潜在风险</span>
        </div>
	</div>
    <div class="wrap_lc_box right">
		<span class="proImg">4</span>
        <div class="proTitle">
            <h3>资深专家全程跟踪辅导</h3>
            <span>增加授权机会，提高成功率</span>
        </div>
	</div>
	<div class="wrap_lc_box">
		<span class="proImg">5</span>
        <div class="proTitle">
            <h3>领取证书</h3>
            <span>流程通过，领取证书</span>
        </div>
	</div>
    <div class="wrap_lc_box right">
		<span class="proImg">6</span>
        <div class="proTitle">
            <h3>保护及成果转化</h3>
            <span>保护及成果转化，排查潜在风险</span>
        </div>
	</div>
</div>	
<!--<div class="module_wid">
	<p>服务流程</p>
	<div  class="mip-sjh-divider" >
		<div  class="mip-sjh-divider-line"></div>
	</div>
	<div style="margin-top: 1rem;">
		<img src="__IMG__/module1.png"/>
	</div>
</div>-->

<!--<div class="module_cs">
	<p>万知优势</p>
	<div  class="mip-sjh-divider" >
		<div  class="mip-sjh-divider-line"></div>
	</div>
	<div style="margin-top: 1rem;">
		<img src="__IMG__/module2.png"/>
	</div>
</div>

<div class="wap_cx">
	<div>
		<span>专利名称：</span>
		<input class="zl_name wap_name" placeholder="请输入专利名称"/>
	</div>
	<div>
		<span>联系方式：</span>
		<input class="zl_tel wap_tel"  placeholder="请输入您的联系方式"/>
	</div>
	<input  class="wrap_pro_zx wap_zl_bt" type="button" value="免费查询，1分钟出结果"/>
</div>-->

<div class="wrap_col_bg">
	<img src="__IMG__/back_06.jpg"/>
	<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
	  <img src="__IMG__/back_07.png"/>
	</a>
</div>



<include file="public/wap_foot2" />	