<include file="public/wap_head" />

<div class="banner img">
	<div>
		<img src="__IMG__/ban3.jpg"/>
	</div>
</div>

<div class="wrap_tra">
	<p>您所需要的 正是我们擅长的</p>
	<div class="wrap_tra_box">
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_300.png" alt="文字作品版权"/>
				<p>文字作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>文字作品是指小说、诗词、散文、论文等以文字形式表现的作品。</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_301.png" alt="美术作品版权"/>
				<p>美术作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>美术作品，是指绘画、书法、雕塑等以线条、色彩或者其他方式构成的平面或者立体的造型艺…</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_302.png" alt="影视作品版权"/>
				<p>影视作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>电影作品是指：通过以摄制电影，视频的方法创作的作品。主要包括电影和视频等。</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_303.png" alt="音乐作品版权"/>
				<p>音乐作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>音乐作品是指通过乐器，歌唱，曲调等以音乐声音形式表现的作品。</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_304.png" alt="舞蹈版权"/>
				<p>舞蹈版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>舞蹈版权是指通过只一定顺序与流程的肢体动作完成表演的表现形式的作品。</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_305.png" alt="戏剧作品版权"/>
				<p>戏剧作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>文字作品是指曲艺，戏曲歌剧等以戏剧舞台形式表现的作品。</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_306.png" alt="计算机作品版权"/>
				<p>计算机作品版权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>计算机软件著作权是指相关程序及其文档。计算机软件著作权登记是著作权人充分行使保护…</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_307.png" alt="软件著作权"/>
				<p>软件著作权</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>软件著作权软件著作权软件著作权</p>
				</div>
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即咨询"/>
				</a>
			</div>
		</div>
		<!--<div class="wrap_tra_box1 box2">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/wap_308.png" alt="海关备案"/>
				<p>海关备案</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>知识产权权利人，按照《知识产权海关保护条例》的规定，将其知识产权的法律状况、有关货…</p>
				</div>
				<input type="button" value="立即咨询"/>
			</div>
		</div>-->
	</div>
</div>


<div class="wap_center_ban">
	<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
	   <img src="__IMG__/310.png"/>
	</a>
</div>

<div class="wrap_tra">
	<p>版权登记流程</p>
	<img class="wap_center_img"  src="__IMG__/320.png"/>
	<div class="wap_center_text">
		<div>专属顾问服务</div>
		<div>材料准备</div>
		<div>递交版权局</div>
		<div class="right">跟进过程</div>
		<div class="right">获得证书</div>
	</div>
</div>	

<div class="wrap_tra">
	<p>为什么要登记版权</p>
	<div class="wrap_tra_box">
		<div class="wrap_tra_box1 box3">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/331.png" alt="增值"/>
				<p>
					<span>NO.1</span>增值
				</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>取得著作权后，可促进软件的交易与发行。</p>
				</div>
				
			</div>
		</div>
		<div class="wrap_tra_box1 box3">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/330.png" alt="荣耀"/>
				<p>
					<span>NO.2</span>荣耀
				</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>提高自身和作品的知名度，一次申请，不用续展。</p>
				</div>
				
			</div>
		</div>
		<div class="wrap_tra_box1 box3 box4">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/332.png" alt="保护"/>
				<p>
					<span>NO.3</span>保护
				</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>是主张权利的有力武器，请求司法保护的前提。</p>
				</div>
				
			</div>
		</div>
		<div class="wrap_tra_box1 box3 box4">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/333.png" alt="宣传"/>
				<p>
					<span>NO.4</span>宣传
				</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>版权局定期对已登记版权进行公告，增加品牌知名度。</p>
				</div>
				
			</div>
		</div>
		<div class="wrap_tra_box1 box3 box4">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/334.png" alt="福利"/>
				<p>
					<span>NO.5</span>福利
				</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<div class="wrap_tra_box1_bottom_div">
					<p>软件著作权登记可享受国家或地方税收减免、退税政策。</p>
				</div>
				
			</div>
		</div>
	</div>	
</div>


<div class="flink" style="margin-top: 1rem;">
	<p>
		<span class="flink_span1">合作伙伴</span><br>
		<span class="flink_span2">SUCCESSFULL CASE</span>
	</p>
	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend.jpg" alt="江铃汽车" class="img">
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend8.png" alt="正邦集团" class="img">
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend9.png" alt="欧菲光" class="img">
   	   </div>
	   <div class="flink_img">
   	   	<img src="__IMG__/friend1.jpg" alt="华东交通大学" class="img">
   	   </div>
   	   <div class="flink_img">
   	   	<img src="__IMG__/friend2.jpg" alt="南昌大学" class="img">
   	   </div>
   	   <div class="flink_img">
   	   	<img src="__IMG__/friend3.png" alt="江西省科学院" class="img">
   	   </div>
   	   <div class="flink_img">
   	   	<img src="__IMG__/friend4.jpg" alt="江西师范大学" class="img">
   	   </div>
   	   <div class="flink_img">
   	   	<img src="__IMG__/friend5.jpg" alt="江西农业大学" class="img">
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend6.jpg" alt="江西财经大学" class="img">
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend7.jpg" alt="赣南师范大学" class="img" >
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend8.jpg" alt="南昌工程学院" class="img" >
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend9.jpg" alt="江西中医药大学" class="img" >
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend10.jpg" alt="井冈山大学" class="img" >
   	   </div>
   	   <div class="flink_img flink_img1">
   	   	<img src="__IMG__/friend11.jpg" alt="江西师范科技大学" class="img">
   	   </div>
   	   <div class="flink_img ">
   	   	<img src="__IMG__/friend20.jpg" alt="南昌航空大学" class="img">
   	   </div>
</div>

<div class="wap_center_ban">
	<img src="__IMG__/311.png"/>
</div>

<include file="public/wap_foot" />