<include file="public/wap_head"/>
<div class="banner img">
	<div>
		<img src="__IMG__/ban2.jpg"/>
	</div>
</div>

<div class="question-wrap">
	<h3 class="tit">您是否遇到过以下问题？</h3>
	<div class="img-wrap">
	    <img src="__IMG__/person.png" alt="您是否遇到过以下问题?">
	    <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" class="btn">
	       <div class="bg"></div>
	    </a>
	</div>
</div>

<div class="gq_wrap">
	<div class="foragin">
		<img src="__IMG__/b431.jpg" alt="申请认证国家高新企业有什么好处？"/>
	</div>
	<div class="foragin">
		<p class="foragin_title">品牌提升</p>
		<p class="foragin_info">政府帮企业背书大大提高了企业品牌知名度，有利于企业开拓国内外市场。</p>
	</div>
	<div class="foragin">
		<p class="foragin_title">融资上升</p>
		<p class="foragin_info">高新企业认定是新三板上市的必需条件，推动企业产业扩张，获得各大银行贷款审批。</p>
	</div>
	<div class="foragin">
		<p class="foragin_title">税收优惠</p>
		<p class="foragin_info">高新企业享受企业所得税减免政策，研发经费加计扣除。</p>
	</div>
	<div class="foragin">
		<p class="foragin_title">财政补贴</p>
		<p class="foragin_info">按照申报项目和区域不同，获得不同额度的政府补贴。</p>
	</div>
	<div class="foragin">
		<p class="foragin_title">政策倾斜</p>
		<p class="foragin_info">政府采购、工程项目招投标，均有高新技术企业有待政策。</p>
	</div>
</div>

<div class="gqrd_wrap">
	<div class="gqrd_wrap_title">高企认定申请八大领域</div>
	<div class="gqrd_wrap_box">
		<div>
			<img src="__IMG__/450.png" alt="电子信息"/>
			<p>电子信息</p>
		</div>
		<div>
			<img src="__IMG__/451.png" alt="生物与新医药"/>
			<p>生物与新医药</p>
		</div>
		<div>
			<img src="__IMG__/452.png" alt="高新技术服务"/>
			<p>高新技术服务</p>
		</div>
		<div>
			<img src="__IMG__/453.png" alt="航空航天"/>
			<p>航空航天</p>
		</div>
		<div>
			<img src="__IMG__/454.png" alt="新材料"/>
			<p>新材料</p>
		</div>
		<div>
			<img src="__IMG__/455.png" alt="环境与资源"/>
			<p>环境与资源</p>
		</div>
		<div>
			<img src="__IMG__/456.png" alt="新能源与节能"/>
			<p>新能源与节能</p>
		</div>
		<div>
			<img src="__IMG__/457.png" alt="先进制造与自动化"/>
			<p>先进制造与自动化</p>
		</div>
	</div>
</div>


<div class="new2-service-wrap">
    <h3 class="tit">高新认定申报条件，大牛帮您分析</h3>
    <div class="img-wrap">
        <img src="__IMG__/jz.jpg">
    </div>
    <div class="main">
      <ul>
        <li>
            <img src="__IMG__/yes.png"><span>1.&nbsp;企业成立1年以上</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>2.&nbsp;获得主要产品或服务核心技术知识产权的所有权</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>3.&nbsp;核心技术属于《国家重点支持的高新技术领域》范围</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>4.&nbsp;高研发和科技人员不低于企业当年职工总数的10%</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>5.&nbsp;研究开发费用总额占同期销售收入总额符合认定要求</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>6.&nbsp;近1年高新技术产品或服务收入占比不低于总收入的60%</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>7.&nbsp;企业创新能力评价应达到相应要求</span>
        </li>
        <li>
            <img src="__IMG__/yes.png"><span>8.&nbsp;1年内未发生重大事故或严重环境违法行为</span>
        </li>
      </ul>
      <a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank" class="btn" data-txt="consult" type="咨询高新认定申请条件">咨询详细条件</a>
    </div>
</div>

<div class="flow-wrap">
  <h3 class="tit">申请流程</h3>
  <div class="img-wrap">
  	<img src="__IMG__/flow.png" alt="申请流程">
  </div>
</div>

<include file="public/wap_foot"/>