<include file="public/wap_head" />

<div class="banner img" style="margin: 0;">
	<div>
		<img src="__IMG__/ban3.jpg"/>
	</div>
</div>


<div class="gqrd_wrap">
	<div class="gqrd_wrap_title">{$place}专利申请</div>
	<div class="place_content">
		<img src="__IMG__/back1.jpg"/>
		<dd>
            <p>发明专利：针对产品、方法或者产品、方法的改进所提出的新的技术方案，可以申请发明专利</p>
            <p>实用新型专利:针对产品的形状、构造或者其结合所提出的适于实用的新的技术方案，可以申请实用新型专利</p>
            <p>外观设计专利：针对产品的形状、图案或者其结合以及色彩与形状、图案的结合所作出的富有美感并适于工业应用的新设计，可以申请外观设计专利</p>
            <h4>
				发明专利的多重价值：
			</h4>
            <b>
            	<span>（1）</span>发明专利是宣传、展示企业核心竞争力的重要指标；<br>
            </b>
            <b>
            	<span>（2）</span>发明专利是高新认定、减税和享受资助政策的门槛；<br>
            </b>
            <b>
            	<span>（3）</span>发明专利是技术入股、融资、抵押贷款盘活无形资产；<br>
            </b>
            <b>
            	<span>（4）</span>发明专利是占据技术制高点，与竞争对手正面攻防中获得主动；<br>
            </b>
            <b>
            	<span>（5）</span>发明专利是遇专利纠纷维权时，不易受恶意无效程序的干扰，稳定性强；<br>
            </b>
            <b>
            	<span>（6）</span>发明专利可以通过转让、许可他人使用，获得可观的专利转让或许可费用，创造更多价值。
            </b>
        </dd>
	</div>
	<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
		<div class="wrap_pro_zx1">详情咨询</div>
	</a>
</div>

<div class="module_wid" style="margin: 2rem 0;">
	<p>服务流程</p>
	<div class="mip-sjh-divider">
		<div class="mip-sjh-divider-line"></div>
	</div>
	<div style="margin-top: 1rem;">
		<img src="/img/module1.png">
	</div>
</div>

<div class="zu-tuanti">
    <h5>您需要准备的材料</h5>
    <ul>
      <li class="box">
        <p>发明专利</p>
        <div class="zu-tuanspan box"> 
        	<span><em></em>发明专利请求书</span></br> 
        	<span><em></em>说明书（说明附件）</span></br>  
        	<span><em></em>权利要求书</span></br>  
        	<span><em></em>摘要及其附图</span> 
        </div>
      </li>
      <li class="box">
        <p>实用新型</p>
        <div class="zu-tuanspan box"> 
        	<span><em></em>实用新型专利请求书</span></br>  
        	<span><em></em>说明书</span> </br> 
        	<span><em></em>权利要求书</span></br>  
        	<span><em></em>摘要及其附图</span> 
        </div>
      </li>
      <li class="box">
        <p>外观专利</p>
        <div class="zu-tuanspan box"> 
        	<span><em></em>外观专利请求书</span></br>  
        	<span><em></em>图片或照片</span></br> 
        	<span><em></em>有要求保护色彩的需提交彩色及黑白图片或照片</span> 
        </div>
      </li>
    </ul>
  </div>

<include file="public/wap_foot" />