<include file="public/wap_head" />

<div class="banner img">
	<div>
		<img src="__IMG__/ban3.jpg"/>
	</div>
</div>


<div class="wrap_tra">
	<div class="wrap_pro_box">
		<div class="wrap_pro">
			<div class="wrap_pro_bg_box">
				<div class="wrap_pro_bg"><img src="__IMG__/402.png" alt="交易安全"/></div>
			</div>
			<p class="wrap_pro_p">交易安全</p>
			<p>包拿证不过退全款</p>
			<p>第三方担保交易</p>
			<p>保障资金安全</p>
			<p>拥有国家级专利交易资质</p>
		</div>
		<div class="wrap_pro">
			<div class="wrap_pro_bg_box">
				<div class="wrap_pro_bg"><img src="__IMG__/403.png" alt="专利多"/></div>
			</div>
			<p class="wrap_pro_p">专利多</p>
			<p>213家合作高校</p>
			<p>287家重点实验室</p>
			<p>上百所专利申请机构</p>
			<p>数十万发明专家</p>
		</div>
		<div class="wrap_pro">
			<div class="wrap_pro_bg_box">
				<div class="wrap_pro_bg"><img src="__IMG__/404.png" alt="服务完善"/></div>
			</div>
			<p class="wrap_pro_p">服务完善</p>
			<p>专业一对一服务</p>
			<p>专业客服人员在线答疑</p>
			<p>个性化服务方案</p>
		</div>
	</div>
	<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
	   <div class="wrap_pro_zx1">点击咨询</div>
	</a>
	
</div>


<div class="wrap_tra">
	<p>买专利有什么用</p>
	<div class="wrap_pro_box">
		<div class="wrap_pro">
		     <div class="wrap_pro_box1">
		     	<img src="__IMG__/sq.png" alt="申请好处"/>
		     </div>
			
			<p class="wrap_pro_p">申请好处</p>
			<p>最高降税40%</p>
			<p>经费支持</p>
			<p>提升资本价值 </p>
			<p>提升品牌价值</p>
		</div>
		<div class="wrap_pro">
			<div class="wrap_pro_box1">
		       <img src="__IMG__/ts.png" alt="提升企业资质"/>
		    </div>
			<p class="wrap_pro_p">好处</p>
			<p>申请各类企业资质</p>
			<p>满足企业招标等需要</p>
			<p>提升企业形象</p>
		</div>
		<div class="wrap_pro">
			<div class="wrap_pro_box1">
		     	<img src="__IMG__/jf.png" alt="用于加分"/>
		    </div>
			<p class="wrap_pro_p">用于加分</p>
			<p>职称评定可加分</p>
			<p>考试、考研等可加分</p>
		</div>
	</div>
	<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
	   <div class="wrap_pro_zx1" style="background-color: #df7983;">点击咨询</div>
	</a>
	
</div>

<div class="wrap_tra">
	<p>专利全领域覆盖</p>
	<p class="wrap_pr_p">根据需求量身定制 只为满足您的需要</p>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item1.jpg" alt="生活家居"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item2.jpg" alt="机械"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item3.jpg" alt="物理新能源"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item4.jpg" alt="化学化工"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item5.jpg" alt="电学自动化"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item6.jpg" alt="物理运输"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item7.jpg" alt="轻工纺织"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item8.jpg" alt="医疗"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item9.jpg" alt="教育"/>
	</div>
	<div class="wrap_pr_box">
		<img src="__IMG__/cover-item10.jpg" alt="固定建筑"/>
	</div>
</div>

<include file="public/wap_foot" />