<include file="public/wap_head" />

<div class="banner img">
	<div>
		<img src="__IMG__/ban3.jpg"/>
		<img src="__IMG__/wrap_bg3.jpg"/>
	</div>
</div>



<div class="gqrd_wrap">
	<div class="gqrd_wrap_title">热门业务类型</div>
	<div class="gqrd_wrap_box">
		<div>
			<img src="__IMG__/500.jpg" alt="ISO管理体系认证"/>
			<p>ISO管理体系认证</p>
		</div>
		<div>
			<img src="__IMG__/502.png" alt="条码体系认证"/>
			<p>条码体系认证</p>
		</div>
		<div>
			<img src="__IMG__/503.png" alt="两化融合管理体系评定"/>
			<p>两化融合管理体系评定</p>
		</div>
		<div>
			<img src="__IMG__/504.png" alt="知识产权贯标"/>
			<p>知识产权贯标</p>
		</div>
		<div>
			<img src="__IMG__/501.png" alt="AAA信用企业认证"/>
			<p>AAA信用企业认证</p>
		</div>
		<div>
			<img src="__IMG__/505.png" alt="有机食品认证"/>
			<p>有机食品认证</p>
		</div>
	</div>
</div>

<div class="banner img">
	<div>
		<img src="__IMG__/wrap_bg4.jpg"/>
	</div>
</div>

<div class="wrap_qua">
	<p>获取报价</p>
	<div class="wrap_qua_box">
		<div class="wrap_qua_left">专利名称<span>*</span></div>
		<div class="wrap_qua_right">
			<input class="wap_name"  type="text" placeholder="请输入专利名称"/>
		</div>		
	</div>
	<div class="wrap_qua_box">
		<div class="wrap_qua_left">您的电话<span>*</span></div>
		<div class="wrap_qua_right">
			<input class="wap_tel"  type="text" placeholder="请输入您的电话"/>
		</div>		
	</div>
	<div class="wrap_pro_zx">立即提交</div>
</div>

<include file="public/wap_foot" />