<include file="public/wap_head" />

<div class="banner img">
	<div>
		<img src="__IMG__/ban5.jpg"/>
	</div>
</div>

<div class="slideBox3">
	<p class="wrap_sli_p">特审通道查询</p>
	<p class="wrap_sli_input">
		专利名称<input type="text" name="wrap_name" class="wrap_name"  placeholder="请输入专利名称"/>
		手机号码<input type="text" name="wrap_tel" class="wrap_tel"  placeholder="请输入手机号码"/>
		<input type="button" class="wrap_sli_but" value="提交"/>
	</p>
	<div style="overflow: hidden;">
		<div class="notice-ico notice-image0">
			<ul class='noticeScrollbar noticeScrollbar1'>
				<li class='scrollbarLi' >
					贺江西正*科技集团在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺张先生在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺**县大米喜获国家地理标志证书
				</li>
			    <li class='scrollbarLi' >
			    	贺**木业有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺江西省**农业科技发展有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*荣生物科技有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西**电气有限责任公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西天*玻璃制品有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西**微电子有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺江西如*科技发展有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺江西*力医疗器械有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*宁科技有限责任公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺丁女士在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*行生物科技有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西省**建设工程有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺罗先生在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺江西宝*陶瓷有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*隆农业发展有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西省吉水**板鸭有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西**建筑模块化科技有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺南昌博*泵业有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺南昌**通信技术工程有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺江西东*网络科技有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西省萍乡市金**材料有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西*明农业科技有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*奇药业有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西**医疗机械有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺南昌**家具制造有限责任公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺万先生在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺上饶市士*新科技有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺胡女士在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西国*科技有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺闵先生在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺江西省纯*食品有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺高先生在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*草生物科技有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺江西*园林股份有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺萍乡市*电瓷有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺吉安市**工程有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺福安市**电机有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺刘女士在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺姜先生在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺欧阳女士在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*肯药业有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西**技术检测有限公司在大牛喜获国家商标证书
				</li>
			    <li class='scrollbarLi' >
			    	贺江西*文化发展有限公司在大牛喜获国家商标证书
			    </li>
				<li class='scrollbarLi' >
					贺江西*电器制品有限公司在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺江西*源生物科技有限公司在大牛喜获国家商标证书
				</li>
				
				<li class='scrollbarLi' >
					贺饶先生在大牛喜获国家商标证书
				</li>
				<li class='scrollbarLi' >
					贺钟女士在大牛喜获国家商标证书
				</li>
			</ul>
		</div>

	

	</div>
	
</div>


<div class="wrap_tra">
	<p>您所需要的 正是我们擅长的</p>
	<div class="wrap_tra_box">
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/200.png" alt="普通注册"/>
				<p>普通注册</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>自助提交，1-2个工作日拿到申请号</p>
					<p>专业审核员评估注册风险</p>
					<p>确认风险再提交</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/202.png" alt="双享注册"/>
				<p>双享注册</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>一对一顾问，申请前近似查询，避免风险</p>
					<p>申报材料整理与填报、所有流程代办</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/203.png" alt="担保注册"/>
				<p>担保注册</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>申请审查专业人士全程护航</p>
					<p>注册不成功退全款（含官费）</p>
					<p>顾问评估担保条件</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/205.png" alt="海外注册"/>
				<p>海外注册</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>商标保护具有地域性</p>
					<p>在中国注册商标，只在中国受保护</p>
					<p>使自己的商标成为一个国际品牌</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/206.png" alt="地理注册"/>
				<p>地理标志</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>地理标志商标是标示某商品来源地</p>
					<p>标示商品的特定质量</p>
					<p>标示商品的信誉</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
		<div class="wrap_tra_box1 boc">
			<div class="wrap_tra_box1_top">
				<img src="__IMG__/207.png" alt="驰名注册"/>
				<p>驰名商标</p>
			</div>
			<div class="wrap_tra_box1_bottom">
				<!--<div class="wrap_tra_box1_bottom_div">
					<p>商标即是品牌</p>
					<p>消费者相信品牌产品才会更可靠</p>
					<p>质量更有保障</p>
				</div>-->
				<a href="http://p.qiao.baidu.com/cps/chat?siteId=16064449&userId=28560838&siteToken=dcc4ffc25fa3cc17c112276a6aac426b"   rel="nofollow" target="_blank">
				   <input type="button" value="立即注册"/>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="wrap_col_bg">
	<img src="__IMG__/back_08.png"/>
</div>


<div class="wrap_tra">
	<p>商标的价值</p>
	<div class="wrap_tra_box">
		<div class="wrap_tra_box1">
			<img class="wrap_tra_box1_img" src="__IMG__/280.jpg" alt="品牌落地"/>
			<p class="wrap_tra_p">品牌落地</p>
			<p class="wrap_tra_p1">形成品牌标志 打造商业影响力</p>
		</div>	
		<div class="wrap_tra_box1">
			<img class="wrap_tra_box1_img" src="__IMG__/281.jpg" alt="品牌保护"/>
			<p class="wrap_tra_p">品牌保护</p>
			<p class="wrap_tra_p1">防止同类产品侵权</p>
		</div>	

		<div class="wrap_tra_box1">
			<img class="wrap_tra_box1_img" src="__IMG__/282.jpg" alt="必备资质"/>
			<p class="wrap_tra_p">必备资质</p>
			<p class="wrap_tra_p1">入驻天猫、亚马逊、京东、超市、卖场</p>
		</div>	
	
	
		<div class="wrap_tra_box1">
			<img class="wrap_tra_box1_img" src="__IMG__/283.jpg" alt="附属价值"/>
			<p class="wrap_tra_p">附属价值</p>
			<p class="wrap_tra_p1">享受政府补助 商标可抵押贷款 融资及交易</p>
		</div>	
	</div>	
</div>	


<div class="flow-wrap">
    <div class="tit">商标注册流程</div>
    <!--<div class="sub-tit">&nbsp;</div>
    <div class="img-wrap">
        <img src="__IMG__/flow1.png">
    </div>-->
    <div class="wrap_tra_mark">
    	<img src="__IMG__/295.png"  alt="商标注册" />
    	<p class="wrap_tra_mark_p1">商标注册</p>
    	<p class="wrap_tra_mark_p2">Trademark inquiries</p>
    </div>
    <div class="wrap_tra_mark">
    	<img src="__IMG__/296.png"  alt="提交注册" />
    	<p class="wrap_tra_mark_p1">提交注册</p>
    	<p class="wrap_tra_mark_p2">Submission of registration</p>
    </div>
    <div class="wrap_tra_mark">
    	<img src="__IMG__/297.png"  alt="下发通知书" />
    	<p class="wrap_tra_mark_p1">下发通知书</p>
    	<p class="wrap_tra_mark_p2">The notice of acceptance</p>
    </div>
    <div class="wrap_tra_mark">
    	<img src="__IMG__/298.png"  alt="注册成功" />
    	<p class="wrap_tra_mark_p1">注册成功</p>
    	<p class="wrap_tra_mark_p2">The success of the certificate</p>
    </div>
</div>

<div class="wrap_col_bg wrap_col_form">
	<img src="__IMG__/back_09.jpg"/>
	<div class="form">
    <div class="conbox">
      <div class="title">
        <img src="__IMG__/cop.png" alt="" class="ico">
                     商标局建议：注册前先查询，有效降低风险
      </div>
      
      <form action=""  method="post">               
        <div>
          <label for="">商标名称</label>
          <input type="text" name="wap_name" class="wap_name" placeholder="请输入商标名称" required="required">
        </div>
        <div>
          <label for="">手机号码</label>
          <input type="text" name="wap_tel" class="wap_tel" placeholder="请输入手机号码"  required="required"> 
        </div>
        
        <button type="button" class="wrap_pro_zx sb">免费查询能否注册</button>
        
      </form>
    </div>
  </div>
</div>



<include file="public/wap_foot2" />