<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">	
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta content="telephone=no" name="format-detection">
		<title>{:config('title')}</title>
	    <meta content="{:config('keywords')}" name="Keywords">
	    <meta content="{:config('description')}" name="Description">
	    <meta name="baidu-site-verification" content="code-HW8taVbEL9" />
	    
        <link rel="stylesheet" href="__JS__/sweetalert/css/sweetalert.min.css">
	    <link rel="stylesheet" href="__JS__/swiper-6.1.2/package/swiper-bundle.css">      
	    <link  href="__CSS__/indexwap.css" type="text/css"  rel="stylesheet" />
	    <script src="__JS__/sweetalert/js/sweetalert.min.js"></script>
	    <script src="__JS__/swiper-6.1.2/package/swiper-bundle.min.js"></script>
	    <script src="__JS__/jquery-1.8.2.min.js"></script>
	    <script src="__JS__/indexwap.js"></script>
	</head>
	<body>
		<div id="header">
			<div class="wrap">
				<div class="main">
					<div class="fl logo img">
						<a href="/">
							<img src="__IMG__/dn.png" alt="">
						</a>
					</div>
					<div class="fr nav_but img">
						<img src="__IMG__/nav_but.png" alt="">
					</div>
				</div>
			</div>
		
			<div id="nav" class="alC hide">
				 <div class="li">
				 	<a href="/">首页</a>
				 </div>				
				 <div class="li">
				 	<a href="{:url('index/index_wap/col_wap')}">专利申请</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/enterprise_wap')}">高企认定</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/trademark_wap')}">商标注册</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/copyright_wap')}">版权登记</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/qualifications_wap')}">资质认证</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/capital_wap')}">资金项目</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/property_wap')}">知产交易</a>
				 </div>
				 <div class="li">
				 	<a href="{:url('index/index_wap/news_wap')}">新闻资讯</a>
				 </div>
			</div>
		</div>